*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: url(https://i.pinimg.com/originals/48/db/62/48db6201e632e3e2e71515fb3f62ce9c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}